/*

Mobile World Station - built by JD

*/
:root {
  --nav-height: 4.9rem;
  --nav-bg: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  --nav-link: white;
  --main-header: white;
  --sub-bg: linear-gradient(90deg, rgba(85,85,85,1) 0%, rgba(20,20,20,1) 35%);
  --sub-item-bg: linear-gradient(90deg, rgba(101,101,101,1) 0%, rgba(37,65,62,1) 81%);
  --theme-font: "Montserrat", sans-serif;
  --theme-margin: 0;
  --theme-padding: 0;
  --theme: #28282b;
  --footer: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,56,129,1) 42%, rgba(64,96,94,1) 75%);
  --divider: rgba(44,62,224,1);
  --contact: linear-gradient(90deg, rgba(32,36,50,1) 48%, rgba(0,0,0,1) 100%);
  --input-bg: #212121;
  --input-border: #222;
  --text--pm: white;
  --sub-text: hsl(0, 0%, 60%);
}

* {
  margin: var(--theme-margin);
  padding: var(--theme-padding);
  font-family: var(--theme-font);
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--theme);
}

/** 

Main Components

**/
.global-header {
  top: 0;
  width: 100%;
  background: var(--nav-bg);
  height: var(--nav-height);
}
.global-header .row {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0;
  justify-content: center;
  max-width: 100%;
  margin: 0 3rem;
}
.global-header .global-logo {
  float: left;
}
.global-header .global-logo img {
  max-height: var(--nav-height);
  max-width: 5rem;
}
.global-header .nav-menu {
  margin-top: 22px;
  margin-left: 50px;
}
.global-header .nav-menu .dropdown::after {
  color: var(--nav-link);
  content: "+";
}
.global-header .nav-menu li:hover {
  text-decoration: underline;
  text-underline-offset: 1.5rem;
}
.global-header .nav-menu li > a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: var(--nav-link);
  font-weight: bold;
}
.global-header .nav-menu .sub-nav {
  background: var(--sub-bg);
  border-radius: 5px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  left: -120px;
  padding: 16px;
  position: absolute;
  top: 100%;
  width: 628px;
}

ul {
  font-size: 13px;
  line-height: 21px;
}

li:first-child {
  margin-left: 0;
}

li {
  display: inline-block;
  margin-left: 28px;
  padding-bottom: 22px;
  position: relative;
}

#services:hover .sub-nav {
  display: flex;
  z-index: 99999;
}

.sub-nav-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 50%;
}

.left {
  margin-right: 4px;
}

.right {
  margin-left: 4px;
}

.sub-nav-box {
  background: var(--sub-item-bg);
  border-radius: 3px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  margin: 4px 0;
  min-height: 100px;
  padding: 24px 14px 24px 96px;
  position: relative;
  transition: 0.2s all ease-in-out;
  text-decoration: none;
}

.icon-background {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 14px;
}

.icon {
  color: #fff;
  font-size: 20px;
}

.sub-nav-box h4 {
  font-size: 12px;
  letter-spacing: 0.9px;
  line-height: 16px;
  margin: 0 0 0.5em;
  padding: 0;
  text-transform: uppercase;
  color: var(--nav-link);
}

.sub-nav-box p {
  color: var(--nav-link);
  line-height: 16px;
}

.sub-nav-box:hover h4, .sub-nav-box:hover p {
  color: #fff;
  font-weight: bold;
}

#box-1:hover, #icon-1 {
  background: #7e3ef3;
}

#box-2:hover, #icon-2 {
  background: #fe4242;
}

#box-3:hover, #icon-3 {
  background: #2ee1f9;
}

#box-4:hover, #icon-4 {
  background: #2ef968;
}

#box-5:hover, #icon-5 {
  background: #ffcf11;
}

#box-6:hover, #icon-6 {
  background: #86ffc6;
}

#box-7:hover, #icon-7 {
  background: #ff60b2;
}

#box-8:hover, #icon-8 {
  background: #5462ff;
}

section .banner {
  background: #6067ac;
}
section .contact-banner {
  background: var(--contact);
  height: 40rem !important;
}
section .container {
  width: 100%;
  height: 15rem;
  display: flex;
}
section .container .row {
  width: 50%;
  padding: 12px;
  height: auto;
  display: flex;
  flex-direction: row;
}
section .container .row h1 {
  color: var(--main-header);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
section .container .row .image-carousel img {
  max-width: 300px;
}
section .container .row .image-carousel img:only-child {
  z-index: -1;
  position: relative;
}
section .container .row .contact-details {
  padding: 12px;
}
section .container .row .contact-details div {
  margin-bottom: 8px;
}
section .container .row .contact-details div a {
  color: hsl(0, 0%, 90%);
  text-underline-offset: 0.2rem;
}
section .container .row .contact-details div i, section .container .row .contact-details div p {
  color: #E5E5E5;
}
section .container .row .contact-details div p {
  margin-top: 3px;
}
section .products-list {
  padding: 1em;
  overflow: hidden;
  max-width: 100%;
}
section .products-list .search-box {
  position: relative;
  left: 90%;
  margin: 12px;
}
section .products-list .search-box input {
  border-radius: 60px;
  border: none;
  text-align: center;
  height: 23px;
  outline: none;
}
section .products-list .search-box i {
  color: #0c0c0c;
  position: absolute;
  left: 12px;
  top: 3px;
}
section .products-list .filters {
  float: left;
}
section .products-list .filters h3 {
  padding: 6px;
  color: var(--main-header);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  position: relative;
  left: 20%;
  margin-bottom: 5px;
}
section .products-list .filters .price-scale {
  color: hsl(0, 2%, 90%);
  font-size: 13px;
  padding-top: 6px;
}
section .products-list .product:hover {
  transform: 200ms ease-in-out;
  transform: translateY(-3px);
}
section .products-list .product {
  background: #212121;
  border-radius: 5px;
  max-width: 100;
}
section .products-list .product .product-title {
  color: var(--main-header);
  margin: 5px;
  position: relative;
  cursor: pointer;
  left: 25%;
  max-width: 100%;
  max-height: 100%;
}
section .products-list .product .product-title::after {
  content: "__________";
}
section .products-list .product .product-image {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .products-list .product .product-image img {
  max-height: 200px;
  max-width: 100%;
}
section .products-list .product .description {
  max-width: 100%;
  color: hsl(0, 0%, 90%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  font-size: 1.3rem;
  margin: 0;
}
section .products-list h2 {
  color: var(--main-header);
  position: relative;
  left: 50%;
  right: 50%;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  margin-bottom: 3rem;
}
section .products-list .grid {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  gap: 1rem;
}

.main-menu li > a {
  text-decoration: none;
  color: hsl(0, 0%, 90%);
}

.main-menu li > a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.main-menu {
  padding: 12px;
}

.pagination {
  display: flex;
  position: relative;
  left: 40%;
}
.pagination button {
  border: #212121;
  height: 1.9rem;
  background-color: hsla(0, 0%, 80%, 0.14);
  display: flex;
  position: relative;
  align-items: center;
  color: var(--main-header);
  top: 8px;
  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;
}

.deals {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.deals .deal {
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25rem;
}
.deals .deal .deal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.deals .deal .plan-details {
  display: flex;
  flex-direction: row;
}
.deals .deal .plan-details .deal-price {
  width: 50%;
  padding: 12px;
}
.deals .deal .plan-details .deal-price .tag {
  float: left;
  padding-right: 3px;
}
.deals .deal .plan-details .deal-price .price {
  font-size: 25px;
  font-weight: bold;
}
.deals .deal .plan-details .deal-price .sub-text {
  display: flex;
  flex-direction: column;
}
.deals .deal .plan-details > .deal-price:last-child {
  text-align: right;
}
.deals .deal .plan-details > .deal-price:last-child .tag {
  position: relative;
  left: 65%;
}
.deals .deal .plan__features {
  margin: 1rem;
  padding: 1px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.deals .deal .plan__features li {
  margin: 0;
}
.deals .deal .plan__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deals .deal .plan__actions button {
  width: 8rem;
  height: 3rem;
  background: #212121;
  color: var(--text--pm);
  border-radius: 120px;
  border: 3px solid #28282b;
  transition: 500ms ease-in-out;
}
.deals .deal .plan__actions button:hover {
  cursor: pointer;
  background: #28282b;
  scale: 1.1;
}

footer {
  position: relative;
  bottom: 0;
  background: var(--footer);
  min-height: 300px;
}
footer .footer-links {
  padding: 20px;
}
footer .footer-links .sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .footer-links .sections .footer-item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
footer .footer-links .sections .footer-item .header {
  color: var(--main-header);
  margin-bottom: 0.5rem;
}
footer .footer-links .sections .footer-item .links {
  display: flex;
  flex-direction: column;
}
footer .footer-links .sections .footer-item .links a {
  text-decoration: none;
  color: var(--nav-link);
}
footer .footer-links .sections .footer-item .links a:hover, footer .footer-links .sections .footer-item .links:focus-within {
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  text-decoration-color: var(--divider);
}
footer .footer-links .sections .footer-item .links li {
  width: -moz-fit-content;
  width: fit-content;
  transition: 500ms ease-in-out;
  margin: 0;
}
footer .footer-links .sections .footer-item .links li:hover, footer .footer-links .sections .footer-item .links:focus {
  transform: translateX(-4px);
}
footer .footer-logo img {
  max-height: 60px;
}
footer .footer-logo {
  float: left;
}
footer .copyright {
  padding: 20px;
  color: hsl(0, 2%, 90%);
  margin-bottom: 12px;
  float: right;
}
footer .copyright p {
  font-size: 14px;
  position: relative;
  margin-top: 5px;
  text-align: end;
}

.help .banner__search {
  height: 6rem;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.help .banner__search i {
  position: relative;
  color: hsl(0, 0%, 90%);
  left: 90%;
  top: 1px;
}
.help .sections {
  background: #28282b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 1;
  margin-bottom: 1rem;
}
.help .sections .section:first-child {
  width: 25%;
}
.help .sections .section:last-child {
  margin-left: 20px;
  width: 60%;
}
.help .sections .section {
  width: 50%;
  padding: 5px;
  background: #222;
}
.help .sections .section .articles {
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.help .sections .section .articles .article {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: 0;
  background-size: cover;
  cursor: pointer;
  height: 120px;
}
.help .sections .section .articles .article .article-title {
  color: hsl(0, 0%, 100%);
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 8px;
}
.help .sections .section .articles .article .article-desc {
  color: hsl(0, 0%, 85%);
  padding: 8px;
  width: 400px;
  overflow: hidden;
  color: hsl(0, 0%, 90%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.help .sections .section .articles .article .article-action {
  transition: 500ms ease-in-out;
  background: #212121;
  border: none;
  color: #E5E5E5;
  cursor: pointer;
  font-size: large;
  float: right;
  padding: 8px;
  width: 80px;
  height: 40px;
  padding: 2px;
  margin: 4px;
  opacity: 0.8;
}
.help .sections .section .articles .article .article-action:hover {
  opacity: 1;
}
.help .sections .section .guide {
  padding: 20px;
}
.help .sections .section .guide .guide-title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  text-decoration-color: var(--divider);
  color: var(--text--pm);
}
.help .sections .section .guide .guide-content {
  color: var(--sub-text);
  margin-top: 2rem;
  margin-bottom: 2rem;
  float: left;
}
.help .sections .section .guide .guide-footer {
  padding: 6px;
  margin: 3px;
  color: var(--sub-text);
  float: right;
}
.help .sections .section .guide .guide-footer .author {
  max-height: 60px;
  width: 60px;
  border-radius: 80%;
}
.help .sections .section .guide .guide-footer .author-title {
  margin-bottom: 5px;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
.help .sections .section .guide .guide-footer .author-status {
  font-size: 14px;
  text-align: right;
}

.banner__accessories {
  position: relative;
}
.banner__accessories .banner__image {
  width: 100%;
}
.banner__accessories .banner__image img {
  max-height: 15rem;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  filter: opacity(0.4);
  z-index: -1;
}
.banner__accessories .banner__title {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 50%;
  color: var(--text--pm);
}

.banner__search {
  height: 12rem;
  display: grid;
  justify-content: center;
}
.banner__search .banner__title {
  padding: 12px;
  color: var(--text--pm);
}

.manufacturers {
  height: 8rem;
  background: linear-gradient(90deg, rgb(35, 36, 40) 3%, rgb(52, 52, 52) 100%);
  display: flex;
  gap: 23px;
  padding: 1rem;
}
.manufacturers img {
  border-radius: 47px 47px 35px 50px;
  cursor: pointer;
}

.manufacturer-filter {
  color: var(--text--pm);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.devices {
  background: #212121;
}

.useful-information {
  padding: 12px;
}
.useful-information .title {
  color: var(--text--pm);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-color: var(--divider);
}
.useful-information .content {
  padding: 15px;
  color: hsl(0, 0%, 90%);
}

/** 

Mobile Responsive

**/
@media screen and (max-width: 1600px) {
  .global-header .global-logo {
    display: none;
  }
  .global-header .nav-menu #services:hover .sub-nav {
    display: flex;
    flex-direction: column;
  }
  .global-header .nav-menu .sub-nav {
    background: transparent;
    box-shadow: none;
    padding: 0;
    width: 20rem;
    background: #222;
    box-shadow: 0px 12px 33px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 12px 33px 5px rgba(0, 0, 0, 0.5);
    bottom: auto;
  }
  .global-header .nav-menu .sub-nav .sub-nav-col {
    display: flex;
    flex-direction: column;
    max-width: 100% !important;
    align-items: center;
    justify-content: center;
  }
  .global-header .nav-menu .sub-nav .sub-nav-col .sub-nav-box .icon-background {
    display: none;
  }
  .global-header .nav-menu .sub-nav .sub-nav-col .sub-nav-box {
    background: transparent;
    margin: 0;
    padding: 1rem;
  }
  .global-header .nav-menu .sub-nav .sub-nav-col .sub-nav-box p {
    display: none;
  }
  .global-header .nav-menu .sub-nav .sub-nav-col .sub-nav-box h4:hover {
    text-decoration: underline;
    text-underline-offset: 1.5rem;
  }
  #box-1:hover, #icon-1 {
    background: none;
  }
  #box-2:hover, #icon-2 {
    background: none;
  }
  #box-3:hover, #icon-3 {
    background: none;
  }
  #box-4:hover, #icon-4 {
    background: none;
  }
  #box-5:hover, #icon-5 {
    background: none;
  }
  #box-6:hover, #icon-6 {
    background: none;
  }
  #box-7:hover, #icon-7 {
    background: none;
  }
  #box-8:hover, #icon-8 {
    background: none;
  }
  .cta__banner .cta__image {
    display: none;
  }
  section .container {
    flex-direction: column;
    height: 30rem;
  }
  section .container .row {
    width: 100%;
  }
  section .container .row .content .image-carousel {
    display: none;
  }
  section .products-list .filters {
    float: none;
  }
  section .products-list .grid {
    grid-template-columns: 1fr;
  }
  section .products-list .grid .product > .product-title {
    left: 0;
    display: flex;
    justify-content: center;
  }
  section .products-list .grid .product > .product-title h5 {
    font-size: large;
    width: 14rem;
  }
  section .products-list .grid .product > .description {
    text-align: center;
    font-size: large;
  }
  section .products-list .grid .product > .product-image {
    margin-right: auto;
    margin-left: auto;
  }
}
/**

Utility Classes

**/
.slider {
  position: relative;
  width: 960px;
  height: 200px;
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translatex(-50%);
  z-index: 1000;
  list-style: none;
  text-align: center;
}

.slider input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

#btn-1:checked ~ .slider-controls label[for=btn-1] {
  background-color: #ff4081;
}

#btn-2:checked ~ .slider-controls label[for=btn-2] {
  background-color: #ff4081;
}

#btn-3:checked ~ .slider-controls label[for=btn-3] {
  background-color: #ff4081;
}

/* SLIDES */
.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
}

.slide-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.slide-text {
  margin-bottom: 20px;
}

.slide-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  background-color: #ff4081;
}

.slide-image img {
  width: 300px;
}

/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }
  50% {
    transform: translatex(50%);
    opacity: 0;
  }
  100% {
    transform: translatex(100%);
  }
}
.rad-label {
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, 0.14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.rad-design::before {
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: 0.3s;
}

.rad-input:checked + .rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  transition: 0.3s;
}

.rad-input:checked ~ .rad-text {
  color: var(--main-header);
}

.btn-primary {
  border-radius: 100px;
  border: 1px #28282b solid;
  background: #0c0c0c;
  color: hsl(0, 0%, 90%);
  width: 6rem;
  cursor: pointer;
  height: 2rem;
}

.form-group {
  padding: 8px;
  max-width: 200px;
}
.form-group input[type=range] {
  padding: 6px;
  -webkit-appearance: none; /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 100px;
  background: #2d1c7a; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */ /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  overflow: hidden;
}
.form-group input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 100px;
  background: whitesmoke; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 2px solid #f50;
  box-shadow: -407px 0 0 400px #f50;
}
.form-group input[type=text] {
  padding: 6px;
  box-shadow: 6px 5px 5px -3px rgb(230, 214, 230);
  border: none;
  outline: none;
  border-radius: 53px 53px 53px 53px;
  width: 200px;
  margin-top: 0.3rem;
}
.form-group select {
  padding: 6px;
  box-shadow: 6px 5px 5px -3px rgb(230, 214, 230);
  border: none;
  border-radius: 53px 53px 53px 53px;
  width: 200px;
  outline: none;
  margin-top: 0.3rem;
}
.form-group .select-group {
  width: 25rem;
  height: 3rem;
}
.form-group .select-group option {
  padding: 80px;
  border: none;
  background: #212121;
  color: var(--text--pm);
}
.form-group option {
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: #E5E5E5;
  border-top: #222 solid 1px;
  overflow: hidden;
  white-space: nowrap;
}
.form-group textarea {
  margin-top: 0.5rem;
  background: #28282b;
  color: var(--main-header);
  padding: 12px;
  box-shadow: 6px 5px 5px -3px rgb(230, 214, 230);
  border-radius: 20px 20px 40px 40px;
  outline: none;
}
.form-group label {
  color: hsl(0, 0%, 90%);
}
.form-group .actions {
  position: relative;
  left: 20%;
  align-items: center;
}

.mt-5 {
  margin-top: 5px;
}

.divider {
  width: 4rem;
  height: 0.4rem;
  background: var(--divider);
  margin-bottom: 8px;
}

.content-divider {
  width: 40%;
  height: 0.2rem;
  display: flex;
  position: relative;
  left: 25%;
  background: var(--divider);
  margin: 16px;
}

.section h1 {
  display: flex;
  justify-content: center;
}

.primary-input {
  background: var(--input-bg);
  border-radius: 25px;
  height: 25px;
  border: var(--input-border);
  padding-left: 15px;
  outline: none;
  transition: 850ms ease-in-out;
}

.primary-input:hover, .primary-input:focus {
  background: white;
  color: #212121;
}

.table table {
  background: #28282b;
  margin: 1rem;
  border-collapse: collapse;
}
.table table caption {
  text-align: left;
  margin: 1rem;
}
.table table td, .table table th {
  padding: 1rem;
  border: 1px solid #212121;
  width: 30rem;
}

.card {
  width: 100%;
  padding: 6px;
  transition: 200ms ease-in-out;
}
.card .card-title {
  display: flex;
  justify-content: center;
  font-size: large;
  color: var(--text--pm);
}
.card .card-image {
  display: flex;
  justify-content: center;
}
.card .card-image img {
  max-height: 200px;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.rows {
  display: flex;
}
.rows .row-template {
  display: flex;
  flex-direction: column;
  margin: 6px;
}
.rows .w-20 {
  width: 25% !important;
}
.rows .col-2 {
  width: 50%;
}
.rows .col-12 {
  width: 100%;
}

.link {
  color: #3f20cc;
  text-underline-offset: 0.3rem;
  text-decoration-color: #4252ff;
  transition: 200ms ease-in-out;
}

.link:hover {
  color: whitesmoke;
}

.dark:hover {
  color: #212121;
}

.accordians {
  margin: 1rem;
}
.accordians .accordian {
  background: #212121;
  margin-bottom: 1rem;
  padding: 12px;
  transition: 500ms ease-in-out;
}
.accordians .accordian .accordian-title {
  cursor: pointer;
  position: relative;
  left: 2rem;
}
.accordians .accordian .accordian-title::before {
  content: "+";
  position: relative;
  top: 30px;
  right: 20px;
  font-size: 26px;
}
.accordians .accordian.opened .accordian-title::before {
  content: "-";
}
.accordians .accordian .accordian-content {
  display: none;
  padding: 2rem;
}
.accordians .accordian:hover, .accordians:focus-within {
  transform: translateX(-30px);
}

.cta__banner {
  display: flex;
  gap: 5px;
  width: 100%;
}
.cta__banner .cta__image {
  width: 200%;
}
.cta__banner .cta__image img {
  max-width: 100%;
  min-height: 100%;
}
.cta__banner .cta__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: hsl(0, 0%, 85%);
}
.cta__banner .cta__content h1 {
  padding-bottom: 1rem;
  color: var(--text--pm);
}
.cta__banner .cta__content .cta__button {
  margin: 1rem;
  width: 12rem;
  height: 2.5rem;
  border: 2px solid #28282b;
  background: #212121;
  color: var(--text--pm);
  border-radius: 10px;
  transition: 500ms ease-in-out;
}
.cta__banner .cta__content .cta__button:hover {
  scale: 1.2;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */